.footer {
  height: 4rem;
  background-color: #eee;
  margin: auto;
  padding: 1rem 3rem;
  border: none;
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer ul {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.footer li {
  display: inline;
  cursor: pointer;
  padding: 0.3rem;
  font-size: 0.8rem;
}

p {
  font-size: 0.8rem;
}

.selected,
.footer li:hover {
  border: 1px solid #bbb;
}
.clear {
  cursor: pointer;
}
.clear:hover {
  text-decoration: underline;
}
